.header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #484444;
    color: white;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0px 0px 50px black;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
}
body {
    margin: 0px;
    background-color: black;
}
.headtext {
    padding-left: 50px;
    display: inline;
    float: left;
    
}
.slide1 {
width: 100%;
margin-top: -250px;
}
.ytvid {
  background-color: black;
}
.yttext {
    text-align: center;
    text-decoration: underline;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.th1 {
    padding-left: 150px;
    padding-bottom: 50px;
}
.th2 {
    padding-left: 150px;
    padding-bottom: 50px;
}
.th3 {
    padding-left: 150px;
    padding-bottom: 50px;
}
.th4 {
    padding-left: 150px;
    padding-bottom: 50px;
}
.shop {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #484444;
    color: white;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0px 0px 15px black;
}
.presety {
    display: flex;
    padding: 30px;
}
.sklep {
    text-align: center;
    
    text-decoration: underline;
}
.opis {
    flex-direction: column;
    text-align: center;
    order: 3, 2, 1;
}
.newsletter {

    float: left;
    padding-left: 50px;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.input {
    padding: 2px;
}
.nawigacja {
    float: left;
    padding-left: 100px;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
a:link {
    color:white;
}
a:hover {
    color: #fff900;
}
a:visited {
    color: white;
}
.bottom {
    display: flex;
    justify-content: center;
}
.zdj {

}
.textsklep {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    
}
.textsklep > a {
    border: black solid 1px;
    display: inline;
}