*{
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
.header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #484444;
    color: white;
    font-size: 1em;
    box-shadow: 0px 0px 50px black;
    position: fixed;
    width: 100vw;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 2147483647;
    margin: 0 auto;
}


.headtext {
    text-align: center;
    padding: 0 20px;
    display: inline;

}
.slide1 {
width: 100%;
margin-top: -250px;
}
.ytvid {
  background-color: black;
}
.yttext {
    text-align: center;
    text-decoration: underline;
    color: white;
}
.th1 {
    padding-left: 150px;
    padding-bottom: 50px;
}
.th2 {
    padding-left: 150px;
    padding-bottom: 50px;
}
.th3 {
    padding-left: 150px;
    padding-bottom: 50px;
}
.th4 {
    padding-left: 150px;
    padding-bottom: 50px;
}

.presety {
    display: flex;
    padding: 30px;
}
.newsletter {

    float: left;
    padding-left: 50px;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
}
.input {
    padding: 2px;
}
.nawigacja {
    float: left;
    padding-left: 100px;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
}
a:link {
    color:white;
}
a:hover {
    color: #fff900;
}
a:visited {
    color: white;
}
/* sklep ----------------------------------------------------------------*/
.pic{
    margin-left: 50px;
    filter: drop-shadow(10px 10px 10px #000);
}
.shop { 
    background-color: #484444;
    color: white;
    font-size: 15px;
    /* box-shadow: 0px 0px 15px black;  */
    justify-content: flex-start;
    display: flex;
    gap: 400px;
}
.shoptext {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    width: 400px;
}
.shoptext a{
    padding: 15px 40px 15px 40px;
    background-color: yellow;
    color: black;
    border-radius: 15px;
    border: 3px solid #484444;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
}
.shoptext a:hover{
    background-color: #484444;
    border: #fff900 3px solid;
    color: yellow;
}
/* ------------------------------------------------------------------------*/